{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true,
    "jquery": true
  },
  "plugins": ["prettier", "jquery"],
  "extends": ["airbnb-base", "prettier", "plugin:jquery/slim"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "no-alert": "off",
    "no-console": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
