body {
  background: url(../img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ico {
  width: 3rem;
  height: auto;
  background-color: #ebebeb !important;
}

.ico-la.is-invalid,
.ico-lo.is-invalid,
.ico.is-invalid {
  border-color: #dc3545 !important;
}

.ico-lo.is-valid,
.ico-la.is-valid,
.ico-s.is-valid,
.ico-c.is-valid,
.ico.is-valid {
  border-color: #28a745 !important;
}

.btn-margin {
  margin-top: 0.25rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.card-size {
  width: 16rem;
  margin: 1.25rem;
}

.img-round {
  border-radius: calc(0.25rem - 0.0625rem) !important;
}

.none {
  text-decoration: none;
}

.genre {
  width: 7rem;
}

.form-group:last-child {
  margin-bottom: 0;
}

.scrollable {
  height: 37rem;
  width: 100%;
  overflow-y: auto;
  border: 0.0625rem solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.padding {
  margin-top: 1rem;
  margin-bottom: 0.35rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #28a745;
  background-color: #28a745;
}

.custom-b.is-valid:checked ~ .custom-control-label::before {
  border-color: #34ce57;
  background-color: #28a745;
}

.custom-b.is-valid ~ .custom-control-label {
  color: #212529;
}

.scrollable::-webkit-scrollbar {
  width: 0.625rem;
}

.scrollable::-webkit-scrollbar-track {
  background: #ebebeb;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.225);
}

.party,
.pop,
.rock,
.classical {
  font-size: 4.5rem;
  margin-left: 1rem;
  color: #fff;
}

.party {
  font-family: 'Monoton', cursive;
}

.pop {
  font-family: 'Audiowide', cursive;
}

.rock {
  font-family: 'Graduate', cursive;
}

.classical {
  font-family: 'Alex Brush', cursive;
  font-weight: 500;
}

.weather-info {
  margin-top: 1rem;
  margin-bottom: 1.1rem;
}

.weather-height {
  height: 9.1rem;
}

.climate {
  font-family: 'Cairo', cursive;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.climate:first-child {
  margin-top: 0.75rem;
}

.climate:last-child {
  margin-bottom: 0;
}
